/* see also changes in "sass/_dark-variables.sass" */

.hero-body h1 {
    margin: 48vh auto -2.5vh -15vw;
    font-size: 17vh;
}
div.subtitle.is-3 {
    margin: 0 -15.5vw 0 auto;
    font-size: 6.2vh;
}

.hero-foot {
    box-shadow: 0px 0px 30px 20px #221818; /* $background */
}

hr {
    background-color: #443636;
}
